@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arista Rise';
  src: url('/fonts/AristaRise.ttf') format('truetype');
}

@font-face {
  font-family: 'Callum';
  src: url('/fonts/Callum.ttf') format('truetype');
}

@layer base {
  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}

@layer components {
  .nav-link {
    @apply px-4 py-2 rounded-full text-accent-dark dark:text-white hover:bg-primary-light dark:hover:bg-primary-dark transition-colors duration-300;
  }
}